modules/connectors/n8n/workflows/wf-03-zettel-ingest-link.json
{
  "name": "LAWRENCE - Zettel Ingest and Link",
  "nodes": [
    {
      "parameters": {
        "path": "lawrence/zettel-ingest",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "id": "Webhook_1",
      "name": "Webhook Zettel Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const summary = $json.body.summary || 'No summary'; return { note_type: 'context_log', title: 'Captured Note', summary, tags: ['zettel','distilled'], entities: ['lawrence'], source_refs: ['n8n:zettel-ingest'] };"
      },
      "id": "Code_1",
      "name": "Build Note Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$env.LAWRENCE_KERNEL_BASE + '/v1/memory/notes'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {},
        "method": "POST"
      },
      "id": "HTTP_1",
      "name": "Create Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        730,
        260
      ]
    }
  ],
  "connections": {
    "Webhook Zettel Ingest": {
      "main": [
        [
          {
            "node": "Build Note Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Note Payload": {
      "main": [
        [
          {
            "node": "Create Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "wf-03-zettel-ingest-link",
  "active": false,
  "settings": {},
  "tags": []
}
