modules/connectors/n8n/workflows/wf-08-daily-journal-synthesis.json
{
  "name": "LAWRENCE - Daily Journal Synthesis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "Schedule_1",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$env.LAWRENCE_KERNEL_BASE + '/v1/memory/search?query=' + encodeURIComponent('context distilled journal') + '&top_k=10'}}",
        "options": {},
        "method": "GET"
      },
      "id": "HTTP_1",
      "name": "Fetch Context Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        480,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const results = $json.results || []; const lines = results.map((r, i) => `${i+1}. ${r.title || r.note_id} (${r.score})`).join('\\n'); return [{json:{title:'Daily LAWRENCE Journal Synthesis',summary:lines || 'No recent notes'}}];"
      },
      "id": "Code_1",
      "name": "Build Journal Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        730,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$env.LAWRENCE_KERNEL_BASE + '/v1/memory/notes'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { note_type: 'journal_daily', title: $json.title, summary: $json.summary, tags: ['journal','daily'], entities: ['lawrence'], source_refs: ['n8n:daily-journal'] } }}",
        "options": {},
        "method": "POST"
      },
      "id": "HTTP_2",
      "name": "Persist Journal Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        980,
        260
      ]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch Context Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Context Logs": {
      "main": [
        [
          {
            "node": "Build Journal Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Journal Summary": {
      "main": [
        [
          {
            "node": "Persist Journal Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "wf-08-daily-journal-synthesis",
  "active": false,
  "settings": {},
  "tags": []
}
