modules/connectors/n8n/workflows/wf-00-agentic-kernel-loop.json
{
  "name": "LAWRENCE - Agentic Kernel Loop",
  "nodes": [
    {
      "parameters": {
        "path": "lawrence/agent-run",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "Webhook_1",
      "name": "Webhook Agent Run",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{$env.LAWRENCE_KERNEL_BASE + '/v1/turns'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { trigger_type: 'user_query', user_query: $json.body.user_query || '', context: $json.body.context || {}, force_web: true } }}",
        "options": {},
        "method": "POST"
      },
      "id": "HTTP_1",
      "name": "Run Kernel Turn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        430,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const facets = $json.facet_results || []; const toolsFacet = facets.find(f => f.facet_type === 'tools'); const actions = (toolsFacet && toolsFacet.actions) ? toolsFacet.actions : []; const first = actions[0]; if (!first) { return [{json:{has_action:false, turn:$json}}]; } return [{json:{has_action:true, action:first, turn:$json}}];"
      },
      "id": "Code_1",
      "name": "Extract Tool Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.has_action}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "If_1",
      "name": "Has Tool Action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{$env.LAWRENCE_KERNEL_BASE + '/v1/tools/execute'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { tool: $json.action.tool, args: $json.action.args || {}, requires_confirmation: $json.action.requires_confirmation || false, confirmed: !($json.action.requires_confirmation || false), risk_level: $json.action.risk_level || 'low', policy_basis: $json.action.policy_basis || 'n8n_agentic_loop' } }}",
        "options": {},
        "method": "POST"
      },
      "id": "HTTP_2",
      "name": "Execute Tool",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1160,
        190
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return [{json:{ok:true, tool_execution:{skipped:true}, turn:$json.turn || $json}}];"
      },
      "id": "Code_2",
      "name": "No Tool Branch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        380
      ]
    },
    {
      "parameters": {
        "mode": "combineByPosition"
      },
      "id": "Merge_1",
      "name": "Merge Outcome",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1400,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const merged = $json; return [{json:{message:'LAWRENCE agent run completed', result: merged}}];"
      },
      "id": "Code_3",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1630,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "Respond_1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1850,
        280
      ]
    }
  ],
  "connections": {
    "Webhook Agent Run": {
      "main": [
        [
          {
            "node": "Run Kernel Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Kernel Turn": {
      "main": [
        [
          {
            "node": "Extract Tool Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Tool Action": {
      "main": [
        [
          {
            "node": "Has Tool Action?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tool Action?": {
      "main": [
        [
          {
            "node": "Execute Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Tool Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Tool": {
      "main": [
        [
          {
            "node": "Merge Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Tool Branch": {
      "main": [
        [
          {
            "node": "Merge Outcome",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Outcome": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "wf-00-agentic-kernel-loop",
  "active": false,
  "settings": {},
  "tags": []
}
