modules/connectors/n8n/workflows/wf-01-turn-intake-parallel.json
{
  "name": "LAWRENCE - Turn Intake Parallel",
  "nodes": [
    {
      "parameters": {
        "path": "lawrence/turn-intake",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "Webhook_1",
      "name": "Webhook Turn",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return [{json: {query: $json.body.user_query || '', context: $json.body.context || {}}}];"
      },
      "id": "Code_1",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        430,
        300
      ]
    },
    {
      "parameters": {
        "mode": "combineByPosition"
      },
      "id": "Merge_1",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "Respond_1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1190,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.LAWRENCE_KERNEL_BASE + '/v1/memory/search?query=' + encodeURIComponent($json.query)}}",
        "options": {},
        "method": "GET"
      },
      "id": "HTTP_Memory",
      "name": "Memory Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        690,
        170
      ]
    },
    {
      "parameters": {
        "url": "={{$env.LLAMACPP_BASE + '/v1/chat/completions'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'local-model', messages: [{ role: 'user', content: $json.query }] } }}",
        "options": {},
        "method": "POST"
      },
      "id": "HTTP_LLM",
      "name": "llama.cpp Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.LAWRENCE_KERNEL_BASE + '/v1/memory/search?query=' + encodeURIComponent('web ' + $json.query)}}",
        "options": {},
        "method": "GET"
      },
      "id": "HTTP_WebProxy",
      "name": "Web Proxy Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        690,
        430
      ]
    }
  ],
  "connections": {
    "Webhook Turn": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Memory Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "llama.cpp Generate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Web Proxy Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Search": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llama.cpp Generate": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Web Proxy Search": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "wf-01-turn-intake-parallel",
  "active": false,
  "settings": {},
  "tags": []
}
