modules/connectors/n8n/workflows/wf-05-llamacpp-fast-slow.json
{
  "name": "LAWRENCE - llama.cpp Fast Slow",
  "nodes": [
    {
      "parameters": {
        "path": "lawrence/llamacpp-generate",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "id": "Webhook_1",
      "name": "Webhook Generate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$env.LLAMACPP_BASE + '/v1/chat/completions'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'local-model', messages: [{ role: 'user', content: $json.body.prompt || '' }], temperature: 0.2, max_tokens: 32 } }}",
        "options": {},
        "method": "POST"
      },
      "id": "HTTP_1",
      "name": "Fast Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        480,
        180
      ]
    },
    {
      "parameters": {
        "url": "={{$env.LLAMACPP_BASE + '/completion'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { prompt: $json.body.prompt || '', temperature: 0.4, n_predict: 64 } }}",
        "options": {},
        "method": "POST"
      },
      "id": "HTTP_2",
      "name": "Slow Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        480,
        340
      ]
    },
    {
      "parameters": {
        "mode": "combineByPosition"
      },
      "id": "Merge_1",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        760,
        260
      ]
    }
  ],
  "connections": {
    "Webhook Generate": {
      "main": [
        [
          {
            "node": "Fast Generate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slow Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fast Generate": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slow Generate": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "id": "wf-05-llamacpp-fast-slow",
  "active": false,
  "settings": {},
  "tags": []
}
